body{
	font-family: sans-serif;
	background-color: #AA0000;
	line-height: 50px;
	font-weight: bold;
}

div{
	padding: 20px;
}

#wrapper{
	text-align: center;
	width: 500px;
	height: 625px;
	margin: 50px auto;
	background-color: #DDDDDD;
}

#displayTimer{
	position: relative;
	bottom: 50px;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

.shown{
	display: block;
}

.hidden{
	display: none;
}

#resetButton{
	position: relative;
	margin: auto;
}

button{
	width: 200px;
	height: 50px;
	margin: 10px 0;
	background-color: #000000;
	color: #FFFFFF;
	border: none;
	font-size: 20px;
}

h1{
	font-size: 40px;
	font-family: Limelight;
}

h2{
	font-size: 30px;
	margin-bottom: 20px;
}